html{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 2cm;
    border-color: black;
}

body{
    margin: 20px;
    padding:5px;
    max-width: auto;
    margin: 0 auto;
    background-color: #f0f1f37c;
}

h1{
    color: black;
    font-size: 30pt;
    text-transform: capitalize;
}

h4{
  font-size: 20pt;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  font-size: 12pt;
}

/* contact page list*/
.listing{
  list-style: disc;
}

ul li{
    color: black;
    font-size: 12pt;
    letter-spacing: -0.025cm;
    list-style-type: none;
}

.logo{
    display: block;
    width: 25%;
    height: 25%;
    margin-left:auto;
    margin-right:auto;
    padding: 5px;
}

.hours{
  text-align: center;
  letter-spacing: 0.025cm;
  font-size: 12pt;
}

.menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

menu{
  list-style: none;
  font-size:10pt;
  margin: 5px;
  padding: 10px;
  line-height: 175%;
  width: max-content;
  color: black;
  font-weight: lighter;
  border-left: 2pt ridge rgb(54, 130, 244);
}


img{
    display: block;
    width: 85%;
    height: 85%;
    margin-left:auto;
    margin-right:auto;
    padding: 5px;
  }

/*My experiences list explanations bullet */
  ol li ul li{
    list-style:disc;
    font-size: 12pt;
  }

/* Bold my experiences*/
  span{
    font-weight: bold;
    padding: 10px;
  }

.outer-container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between rows */
}

.row {
    display: flex;
    justify-content: space-between; /* Distributes items evenly */
    gap: 10px; /* Space between items */
}

.item {
    flex: 1; /* Makes each item take equal width */
    height: auto; /* You can adjust the height as needed */
    background-color:#ddd;
    display: flex;
    justify-content: center;
    align-items: center; /* Centers content inside each item */
    border: 1px solid #ecc6c6;
    font-size: 14px;
}

.form-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  min-height: 100vh;
}

iframe {
  border: none;
}

/* Center the images side by side */
.center {
  display: flex;  
  flex-direction: row;
  justify-content: center;  
  gap: 20px;               
}

.resizeImage img {
  max-width: 100%;           /* Ensure the images are responsive */
  height: auto;              /* Keep the aspect ratio */
}
