html{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 2cm;
    border-color: black;
}

body{
    margin: 20px;
    padding:5px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #f0f1f37c;
}

h1{
    color: black;
    font-size: 30pt;
    text-transform: capitalize;
}

h4{
  font-size: 20pt;
}

.header {
  display: flex-grow;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  font-size: 14pt;
}

/* contact page list*/
.listing{
  list-style: disc;
}

ul li{
    color: black;
    font-size: 12pt;
    letter-spacing: -0.025cm;
    list-style-type: none;
}

.logo{
    display: block;
    width: 25%;
    height: 25%;
    margin-left:auto;
    margin-right:auto;
    padding: 5px;
}

.hours{
  text-align: center;
  letter-spacing: 0.025cm;
  font-size: 12pt;
}

.menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

menu{
  list-style: none;
  font-size:10pt;
  margin: 5px;
  padding: 10px;
  line-height: 175%;
  width: max-content;
  color: black;
  font-weight: lighter;
  border-left: 2pt ridge rgb(54, 130, 244);
}


img{
    display: block;
    width: 85%;
    height: 85%;
    margin-left:auto;
    margin-right:auto;
    padding: 5px;
  }

/*My experiences list explanations bullet */
  ol li ul li{
    list-style:disc;
    font-size: 12pt;
  }

/* Bold my experiences*/
  span{
    font-weight: bold;
    padding: 10px;
  }

  /*new cars page*/
  .newcars {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
    grid-auto-rows: 200px; /* Each row will be 200px tall */
    gap: 10px;
    max-width: 90vw; /* Limits grid width */
    max-height: 90vh; /* Limits grid height */
    overflow: auto; /* Allows scrolling if needed */
}
.grid-item {
    border: 2px solid #ddd;
    background-color: #fff;
    transition: transform 0.3s ease;
}
.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grid-item:hover {
    transform: scale(1.05); /* Scale image on hover */
}